{% extends "main/index.html" %}
{% load staticfiles %}
{% load json_filters %}
{% block profile %}
<div class="gridster">

    <button class="btn btn-primary" onclick="dragStart()">Edit</button>
    <button class="btn btn-primary" onclick="dragStop()">Save</button>
    <ul>
    	{% for repo in github_data %}
        	<li data-row="{{ repo.positionx }}" data-col="{{ repo.positiony }}" data-sizex="1" data-sizey="1" class="collection-card">
                <div class="collection-card-image {{ repo.language }}-color">
                    <div class="collection-card-language">{{ repo.language }}</div>
                    <a onclick="removeCard({{ repo.positionx }}, {{ repo.positiony }})"><div class="collection-card-delete">x</div></a>
                    <div class="collection-card-title">
                        <h3><a href="{{ repo.url }}" target="_blank">{{ repo.name }}</a></h3>
                    </div>
                </div>  
                <p class="collection-card-body">{{ repo.description }}</p>
                <div class="collection-card-meta">
                    <span class="stars"><i class="fa fa-star"></i> {{ repo.stars }}</span>
                    <span class="forks"><i class="fa fa-code-fork"></i> {{ repo.forks }}</span>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block stats %}
<p> Hello World! </p>
{% endblock %}